@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../style/text.css");

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .btn {
    @apply bg-dark-2 border border-8 border-solid flex-center  !important;
  }

  .btn-secondary {
    @apply bg-dark-2 border border-80 border-solid flex-center  !important;
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* add custom scroll bar ใช้กับตัวตัว horizontal scroll ของ list item */

.custom-scrollbar::-webkit-scrollbar {
  width: 834px;
  height: 4px;
  border-radius: 80px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #343839;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide ตัว scroll bar  */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}
